<div class="container">
  <% @gardens.each do |garden| %>
    <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=garden.banner_url%>')">
      <%= link_to garden.name, garden  %>
    </div>
  <% end %>
</div>
